# Зависимости (самая большая папка)
node_modules/

# Системные файлы Nuxt
.nuxt/
.output/

# Локальные настройки и кэш
.env
.nitro/
.cache/

# Настройки IDE (как раз те xml-файлы со скриншота)
.idea/
.vscode/

# Логи и сборка
dist/
*.log
